# binaries
bin

# Executables
*.exe
hyped
testrunner

### macOS ###
.DS_Store
.AppleDouble
.LSOverride

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.fuse_hidden*

# Testing
/utils/Lint/lintresults.txt
/test/lib/googletest
/test/lib/libtest.a
/test/lib/cppcheck
/test/coverage
binmain.o

# Other rubbish
.cpplint-cache
.vscode
.idea
.ipynb_checkpoints
*.ipch
*.ipch.icloud
.ccls
.ccls-cache

# libraries
lib/Eigen
lib/rapidjson

# mac crosscompiler
mac-crosscompiler
mac-crosscompiler/
